footer {
    background-color: #f7f7f7;
    color: #333;
    font-size: 16px;
    padding: 20px;
    text-align: center;
  }
  
  footer h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  footer p {
    margin: 0 0 10px 0;
  }
  
  footer hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
  }
  
  footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  footer nav li a {
    color: #333;
    text-decoration: none;
  }
  
  footer nav li a:hover {
    text-decoration: underline;
  }
  